node_modules/
flask_session/
.env
.ruff_cache
.python-version
get_device_id.py
app.js
package.json
package-lock.json
cron_test/
cron_job/
cron/cron.dat
cron/cron.log
__pycache__/
test.*
*.log
fe_test.py
archive/
flask_test/
tests/
archive/
*.sqlite3