/* Paddaddy row styles */
.table-great {
    --bs-table-color: #000;
    --bs-table-bg: #bcd8c1; /* Darker green background */
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #b3d2b7; /* Striped darker green background */
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #a9ccab; /* Active row darker green background */
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #b8d6ba; /* Hover row darker green background */
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-good {
    --bs-table-color: #000;
    --bs-table-bg: #d1e7dd; /* Light green background */
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #c3e6d0; /* Striped light green background */
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #badfca; /* Active row light green background */
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #c5e9d6; /* Hover row light green background */
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}


  
.table-fine {
    --bs-table-color: #000;
    --bs-table-bg: #fffacd; /* Yellow background */
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #fff8c1; /* Striped yellow background */
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #fff5b3; /* Active row yellow background */
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #fff7bc; /* Hover row yellow background */
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-poor {
    --bs-table-color: #000;
    --bs-table-bg: #ffddb3; /* Orange background */
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #ffd8a8; /* Striped orange background */
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #ffd49a; /* Active row orange background */
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #ffdbab; /* Hover row orange background */
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-bad {
    --bs-table-color: #000;
    --bs-table-bg: #ffdcdc; /* Red background */
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #ffd1d1; /* Striped red background */
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #ffc6c6; /* Active row red background */
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #ffcdcd; /* Hover row red background */
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-tbd {
    --bs-table-color: #000;
    --bs-table-bg: #f2f2f2; /* Grey background */
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #e9e9e9; /* Striped grey background */
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #e0e0e0; /* Active row grey background */
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e6e6e6; /* Hover row grey background */
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
