{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Address</th>
            <th>Neighborhood</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for listing in listings %}
            <tr>
                <td>{{ listing["created_at"] | format_datetime }}</td>
                <td><a href='{{ listing["url"] }}' target="_blank">{{ listing["address"] }}</a></td>
                <td>{{ listing["neighborhood"] }}</td>
                <td>{{ listing["price"] | usd }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}