{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="container">
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <div class="row mt-4">
            <div class="col-4">
                <div class="row">
                    <div class="col text-center">
                        <b>Price Range</b>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        {{ form.min_price(class="form-control") }}
                    </div>
                    <div class="col-2 text-center">
                        <i>to</i>
                    </div>
                    <div class="col-5">
                        {{ form.max_price(class="form-control") }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col text-center">
                        <b>Number of Beds</b>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        {{ form.min_beds(class="form-control") }}
                    </div>
                    <div class="col-2 text-center">
                        <i>to</i>
                    </div>
                    <div class="col-5">
                        {{ form.max_beds(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <b>Neighborhoods</b>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-10 data-width=100%">
                        {{ form.areas(class="form-select", size="6") }}
                    </div>
                    <div class="col-2">
                        {{ form.submit(class="btn btn-primary w-100") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Contacted</th>
            <th scope="col">Address</th>
            <th scope="col">Neighborhood</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for listing in listings %}
        <tr>
            <td>{{ listing["created_at"] | format_datetime }}</td>
            <td><a href='/{{ listing["url"] }}' target="_blank">{{ listing["address"] }}</a></td>
            <td>{{ listing["neighborhood"] }}</td>
            <td>{{ listing["price"] | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const areas = document.getElementById('areas');
        const choices = new Choices(areas, {
            removeItemButton: true,
            searchEnabled: true,
            noResultsText: 'No neighborhoods found',
        });
    });
</script>

{% endblock %}